

.main-login{
    width: 100vw;
    height: 90vh;
    
    display: flex;
    justify-content:center;
    align-items: center;

   
}

.left-login{

    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}


.right-login{
    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}

.right-login h1{
    font-family: system-ui;
    color:blanchedalmond ;
    
}

.card-login{
    width: 60%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    padding: 2px 35px;
    background-color: none ;
    border-radius: 10px;
    
}

.inter-login{
    width: 110%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    padding: 60px 20px;
    background-color:rgba(24, 24, 24, 0.795) ;
    border-radius: 10px;
    box-shadow: 0px 10px 40px  #aa6702;
    
    
}

.textfield{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 5px 0px;
    font-family: system-ui;

}

.textfield > input{
    font-family: system-ui;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color:rgb(53, 52, 52) ;
    outline: none;
    box-shadow: 0px 10px 20px #0f0f0f;
    box-sizing: border-box;
}


button[disabled]{
    opacity: 0.7;
}
button:hover{
    background-color: #8b5606;
    transition: 10ms;
    font-family: system-ui;
}
.btn-login{
    width: 100px;
    padding: 16px 0px;
    margin: 15px;
    border: none;
    border-radius: 10px;
    background-color: #aa6702;
    box-shadow: 0px 10px 20px -5px #000000;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    cursor: pointer;
}

.btn-cadastro{
    width: 90%;
    padding: 5px 10px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    background-color: #aa6702;
    box-shadow: 0px 10px 20px -5px #000000;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.btn-esqueceu-senha{
    width: 30vh;
    padding: 5px 0px;
    height: 5vh;
    margin: 5px;
    border: none;
    border-radius: 10px;
    background-color: #aa6702;
    box-shadow: 0px 10px 20px -5px #000000;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    
}

.error{
    color:blanchedalmond;
    background: #aa6702;
    display: none;
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction:column ;
    }
    .left-login{
        width: 90%;
        height: auto;
        margin: 5px 0px;
    }

    .right-login{
        width: 90%;
        height: auto;
    }
}

