
body {
    width: 100vw;
    height: 100vh;
    background-image: url('IMAGENS SITE/game-dungeons-and-dragons-hydra-tiamat-dungeons-and-dragons-wallpaper-preview.jpg');
    background-size: 102%;

}

.caixa-principal{
    width: 100vw;
    height: 95vh;
    
    display: flex;
    justify-content:center;
    align-items: center;
}


.card-registro{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    padding: 0px 0px;
    background-color: none ;
    border-radius: 10px;
}

.inter-registro{
    width: 80%;
    height: 60%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    padding: 100px 19px;
    background-color:rgba(24, 24, 24, 0.712) ;
    border-radius: 10px;
    box-shadow: 0px 10px 40px  #aa6702;
    
    

}

.textfield2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    font-family: system-ui;
   
}

.inter-registro > h1{
    margin: 5px ;
    font-family: system-ui;
    box-sizing: border-box;
}
.textfield2 > input{
    width: 100%;
    font-family: system-ui;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color:rgb(53, 52, 52) ;
    outline: none;
    box-shadow: 0px 10px 20px #0f0f0f;
    box-sizing: border-box;
    margin: 0px;
    
}

.bnt-registro{
    font-family: system-ui;
    width: 60%;
    padding: 16px 0px;
    margin: 15px;
    border: none;
    border-radius: 10px;
    background-color: #aa6702;
    box-shadow: 0px 10px 20px -5px #000000;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    cursor: pointer;
    box-sizing: border-box;
    
}
.bnt-registro:hover{
    background-color: #8b5606;
    transition: 10ms;
}

.bnt-home{
    width: 20vh; 
    padding: 8px 0px;
    margin: 5px;
    border: none;
    font-family: system-ui;
    border-radius: 10px;
    background-color: #aa6702;
    box-shadow: 0px 10px 20px -5px #000000;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    cursor: pointer;
    box-sizing: border-box;
    color: blanchedalmond;  
    
}
.bnt-home:hover{
    background-color: #8b5606;
    transition: 10ms;
}

@media only screen and (max-width: 950px){
    .card-registro{
        width: 40%;
        
        
    }

    .inter-registro{
        width: 106%;
        height: 66%;
        padding: 107px 18px;
    }
    
body {
    width: 100vw;
    height: 100vh;
    background-image: url('IMAGENS SITE/game-dungeons-and-dragons-hydra-tiamat-dungeons-and-dragons-wallpaper-preview.jpg');
    background-size: cover;

}

}

@media only screen and (max-width: 600px){
    .caixa-principal{
        flex-direction:column ;
        width: 105%;
        height: auto;

    }
    
    .inter-registro{
        width: 110%;
        height: 66%;
    }
    .card-registro{
        width: 60%;
        height: 83%;
    }
    
    
}
